*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #3a405a;
}

body {
  margin: 0;
  background: linear-gradient(to right, #99b2dd, #e9afa3);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  background-color: #fbe8da;
  cursor: pointer;
  font-size: 2rem;
  color: #3a405a;
  border: 1px solid rgba(104, 80, 68, 0.3);
  outline: none;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(249, 222, 201, 0.75);
}

.span-two {
  grid-column: span 2;
}

.calculator-output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator-output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.calculator-output .current-operand {
  color: #fff;
  font-size: 2.5rem;
}
